<html lang="uk">
<head>
    <title>SalesSnake - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body> 
    <nav class="navbar">
        <ul class="navlist center">
            <li class="navitem"><a class="navbutton" href="{{ url_for('authentication.register') }}">Register</a></li>
            <li class="navitem"><a class="navbutton" href="{{ url_for('authentication.login') }}">Log in</a></li>
        </ul>
    </nav>
    <div class="content center">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>