{% extends 'app_base.jinja2' %}
{% block title %}Stocks{% endblock %}
{% block content %}
    <div class="navbar">
        <ul class="navlist">
            <li class="navitem"><a class="navbutton" onclick="openForm()">Add Category</a></li>
        </ul>
    </div>
    <h2 class="title">Categories</h2>
    <div id="addStock" class="center">
        <div class="form center">
            <form method="post">
                <label for="name">Name</label>
                <input class="ffield" type="text" id="name" name="name" maxlength="50">
                <div class="fbuttons">
                    <input class="fbutton" type="reset" onclick="closeForm()" placeholder="Close">
                    <input class="fbutton" type="submit" placeholder="Add">
                </div>
            </form>
        </div>
    </div>
    <div class="table center">
        <table class="items">
        <tr class="item header">
            <td>Name</td>
        </tr>
        {% for name in categories %}
            <tr class="item">
                <td>{{ name }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}